<div class="flex flex-col mb-4 md:mb-2 justify-between md:flex-row">
  <div>
    <h1 class="text-4xl mb-1">New Routine</h1>
  </div>
  <%= link_to 'Back to Group', :back, class: "self-start md:self-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
</div>

<%= render 'form', routine: @routine, group: @group %>