<h1>Workspaces</h1>

<h2>Your workspaces</h2>
<% if @owned_workspaces.empty? %>
    <p>You do not own any workspaces.</p>
<% else %>
  <ul>
    <% @owned_workspaces.each do |workspace| %>
      <li><%= link_to workspace.name, workspace_path(workspace) %></li>
    <% end %>
  </ul>
<% end %>

<h2>Joined workspaces</h2>
<% if @workspaces.empty? %>
<p>You are not a member of any workspaces.</p>
<% else %>
  <ul>
    <% @workspaces.each do |workspace| %>
      <li><%= link_to workspace.name, workspace_path(workspace) %></li>
    <% end %>
  </ul>
<% end %>


<%= link_to 'Create new Workspace', new_workspace_path %>
<%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>

